@import url(../css/fonts.css);
.container {
  width: 1170px;
}

.black-part {
  background-color: #000;
  height: 47px;
}

.black-part .social-item {
  margin: 5px;
}

.black-part .social-item a {
  display: block;
  text-decoration: none;
}

.black-part .social-item a .fa-facebook-f {
  padding: 8px 0 0 10px;
  width: 32px;
  height: 32px;
  color: #FFF;
  background-color: #3B5998;
  border-radius: 50%;
}

.black-part .social-item a .fa-facebook-f:hover {
  background-color: #FFF;
  color: #3B5998;
}

.black-part .social-item a .fa-google-plus-g {
  padding: 8px 0 0 7px;
  width: 32px;
  height: 32px;
  color: #9B9B9B;
  background-color: #FFF;
  border-radius: 50%;
}

.black-part .social-item a .fa-google-plus-g:hover {
  color: #FA4A33;
}

.black-part .social-item a .fa-twitter {
  padding: 8px 0 0 8px;
  width: 32px;
  height: 32px;
  color: #FFF;
  background-color: #55ACEE;
  border-radius: 50%;
}

.black-part .social-item a .fa-twitter:hover {
  color: #55ACEE;
  background-color: #FFF;
}

.black-part .referenses .referenses-item {
  margin: 15px 10px 0 10px;
}

.black-part .referenses .referenses-item a {
  display: block;
  text-decoration: none;
  color: #FFF;
  font: 17px ProximaNova Semi-Bold, sans-serif;
}

.black-part .referenses .referenses-item a:hover {
  color: #55ACEE;
}

.white-part {
  height: 145px;
  padding-top: 41px;
  background-color: #FFF;
  border-bottom: 8px solid #009CE3;
}

.white-part .navbar {
  padding: 0;
  margin: 0;
}

.white-part .navbar .site-title a {
  text-decoration: none;
  font: 36px Montserrat Bold, sans-serif;
  color: #0D3693;
}

.white-part .navbar .site-title a span {
  color: #55ACEE;
}

.white-part .navbar .nav-item {
  margin: 0 0 0 30px;
}

.white-part .navbar .nav-item a {
  font: 20px Sours Sans Pro Regular, sans-serif;
}

#first {
  background-image: url("../img/background.png");
}

#first .section-head {
  font: 80px Montserrat Extra Bold, sans-serif;
  text-align: center;
  color: #FFF;
  padding-top: 78px;
  margin-bottom: 21px;
}

#first .price-tag {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 18px;
}

#first .price-tag img {
  z-index: -1;
}

#first .price-tag h2 {
  position: absolute;
  margin: 10px 0 0 25px;
  color: #FA4A33;
  font: 50px Montserrat Extra Bold, sans-serif;
}

#first .description-price {
  font: 38px Sours Sans Pro Semi-Bold, sans-serif;
  color: #FFF;
  text-align: center;
}

#first .contact-inf {
  padding-bottom: 81px;
}

#first .contact-head {
  margin: 44px 0 27px 0;
  font: 36px Montserrat Bold, sans-serif;
  color: #FFF;
}

#first .contact-item {
  position: relative;
}

#first .contact-item a {
  text-decoration: none;
  color: #FFF;
  font: 30px Sours Sans Pro Bold, sans-serif;
}

#first .contact-item a:hover {
  color: #000;
}

#first .contact-item a:hover .fa-skype, #first .contact-item a:hover .fa-envelope {
  color: #FA4A33;
}

#first .contact-item .fa-skype {
  position: absolute;
  margin: 22px 0 0 -60px;
}

#first .contact-item .fa-envelope {
  position: absolute;
  margin: 27px 0 0 -80px;
}

#about-us {
  padding-top: 70px;
}

#about-us .section-head {
  text-align: center;
  font: 50px Montserrat Extra Bold, sans-serif;
  padding-bottom: 27px;
}

#about-us .about-wrapper {
  width: 45%;
}

#about-us .about-description {
  padding-bottom: 34px;
  font: 19px Sours Sans Pro Semi-Bold, sans-serif;
}

#about-us .btn {
  font: 20px Sours Sans Pro Regular, sans-serif;
  padding: 10px 22px;
  text-decoration: none;
  background-color: #FA4A33;
  color: #FFF;
  border: 2px solid transparent;
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 2, 1, 0.6);
          box-shadow: 0 5px 8px 0 rgba(0, 2, 1, 0.6);
}

#about-us .btn:hover {
  color: #FA4A33;
  background-color: #FFF;
  border: 2px solid #FA4A33;
}

#about-us .head-block {
  margin: 55px 0 36px 0;
  font: 50px Montserrat Extra Bold, sans-serif;
  text-align: center;
}

#about-us .head-block span {
  color: #FA4A33;
}

#about-us .card-deck {
  margin-bottom: 53px;
}

#about-us .card-deck .card {
  border-style: none;
  position: relative;
}

#about-us .card-deck .card img {
  position: relative;
  left: 30%;
  margin-bottom: 10px;
}

#about-us .card-deck .card .card-footer {
  background-color: transparent;
  border-style: none;
  font: 19px Sours Sans Pro Semi-Bold, sans-serif;
}

#contact-us {
  background-image: url("../img/background-2.png");
  padding-bottom: 30px;
}

#contact-us .section-head {
  padding-top: 30px;
  text-align: center;
  font: 50px Montserrat Extra Bold, sans-serif;
  color: #FFF;
}

#contact-us .contact-item {
  position: relative;
}

#contact-us .contact-item a {
  text-decoration: none;
  color: #FFF;
  font: 19px Sours Sans Pro Bold, sans-serif;
}

#contact-us .contact-item a:hover {
  color: #FA4A33;
}

#contact-us .contact-item a:hover i {
  color: #000;
}

#contact-us .contact-item .fa-map-marker-alt, #contact-us .contact-item .fa-envelope, #contact-us .contact-item .fa-skype {
  position: absolute;
  font-size: 35px;
  top: 25px;
}

#contact-us .contact-item .fa-map-marker-alt {
  right: 0;
  left: 55px;
}

#contact-us .contact-item .fa-envelope {
  left: 12px;
}

#contact-us .contact-item .fa-skype {
  top: 20px;
  left: 40px;
}

#contact-us .addres {
  margin-top: 10px;
  width: 35%;
}

#why-us {
  padding: 75px 0 80px 0;
}

#why-us .section-head {
  font: 50px Montserrat Extra Bold, sans-serif;
  padding-bottom: 35px;
}

#why-us .description {
  padding: 0;
  margin-right: 50px;
}

#why-us .btn {
  margin-top: 35px;
  font: 20px Sours Sans Pro Regular, sans-serif;
  padding: 10px 22px;
  text-decoration: none;
  background-color: #FA4A33;
  color: #FFF;
  border: 2px solid transparent;
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 2, 1, 0.6);
          box-shadow: 0 5px 8px 0 rgba(0, 2, 1, 0.6);
}

#why-us .btn:hover {
  color: #FA4A33;
  background-color: #FFF;
  border: 2px solid #FA4A33;
}

#why-us .head-block {
  margin: 80px 0 50px 0;
  font: 50px Montserrat Extra Bold, sans-serif;
}

#why-us h3 {
  font: 30px Sours Sans Pro Bold, sans-serif;
  color: #0D3693;
}

#why-us p {
  font: 19px Sours Sans Pro Bold, sans-serif;
}

#faq .section-head {
  font: 50px Montserrat Extra Bold, sans-serif;
  margin-bottom: 30px;
}

#faq .dropdownlist {
  padding-bottom: 50px;
}

#faq .dropdownlist .dropdownlist-control {
  display: block;
  text-decoration: none;
  font: 30px Sours Sans Pro Bold, sans-serif;
  color: #0D3693;
  margin: 10px 0;
  border-bottom: 2px solid #000;
}

#post-now .section-head {
  font: 50px Montserrat Extra Bold, sans-serif;
}

#post-now .post-wrapper {
  margin-bottom: 80px;
}

#post-now .post-description {
  padding: 120px 0 0 0;
  width: 45%;
}

#post-now .post-description p {
  font: 19px Sours Sans Pro Bold, sans-serif;
  margin-bottom: 50px;
}

#post-now .btn {
  font: 20px Sours Sans Pro Regular, sans-serif;
  padding: 10px 22px;
  text-decoration: none;
  background-color: #FA4A33;
  color: #FFF;
  border: 2px solid transparent;
  border-radius: 25px;
  -webkit-box-shadow: 0 5px 8px 0 rgba(0, 2, 1, 0.6);
          box-shadow: 0 5px 8px 0 rgba(0, 2, 1, 0.6);
}

#post-now .btn:hover {
  color: #FA4A33;
  background-color: #FFF;
  border: 2px solid #FA4A33;
}

#post-now .card-deck {
  padding-bottom: 50px;
}

#post-now .card-deck .card {
  border-style: none;
}

#post-now .card-deck .card img {
  margin-left: 35%;
  padding-bottom: 30px;
}

#post-now .card-deck .card .card-footer {
  border-style: none;
  background-color: transparent;
  text-align: center;
}

#post-now .card-deck .card .card-footer .card-head {
  font: 25px Sours Sans Pro Bold, sans-serif;
  line-height: 21px;
  color: #0D3693;
  margin: 0;
  padding: 0;
}

#post-now .card-deck .card .card-footer span {
  font: 23px Sours Sans Pro Bold, sans-serif;
}

#post-now .card-deck .card .card-footer p {
  font: 19px Sours Sans Pro Semi-Bold, sans-serif;
}

footer {
  background-color: #000;
  padding: 50px 0;
}

footer .site-title a {
  text-decoration: none;
  font: 36px Montserrat Bold, sans-serif;
  color: #FFF;
}

footer .site-title a:hover {
  -webkit-transition: .4 all ease-in;
  transition: .4 all ease-in;
  color: #0D3693;
}

footer .site-title a:hover span {
  color: #55ACEE;
}

footer .navbar-collapse {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
}

footer .navbar-collapse .navbar-nav .nav-item a {
  font: 17px Sours Sans Pro Regular, sans-serif;
  padding: 0 20px;
  color: #FFF;
}

footer .navbar-collapse .navbar-nav .nav-item a:hover {
  color: #FA4A33;
}

footer .social-item {
  margin-right: 12px;
}

footer .social-item a {
  display: block;
  text-decoration: none;
  background-color: #FFF;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

footer .social-item a .fa-facebook-f {
  padding: 8px 0 0 10px;
}

footer .social-item a .fa-facebook-f:hover {
  color: #3B5998;
}

footer .social-item a .fa-google-plus-g {
  padding: 8px 0 0 7px;
}

footer .social-item a .fa-google-plus-g:hover {
  color: #FA4A33;
}

footer .social-item a .fa-twitter {
  padding: 8px 0 0 8px;
}

footer .social-item a .fa-twitter:hover {
  color: #55ACEE;
}
